.main {
  max-width: 1240px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 0 30px;


}

.about_collapse {
  // border: 1px solid red;
  width: 1240px;
  max-width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {

  .about_collapse {
    max-width: 100%;
    max-height: 100%;
  }
}