.about_collapse {
  width: 1240px;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main {
  max-width: 1240px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {

  .about_collapse {
    max-width: 100%;
  }
}