.logement {
  max-width: 1240px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 0 20px 0 30px;
  font-weight: 200;
  // background-color: yellow;

  .logement_collapse {
    display: flex;
    gap: 20px;
  }

  .location {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width:768px) {

    .logement {
      padding: 0 30px;
    }


    .logement_collapse {
      display: block;
    }

    .host {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
    }

    .location {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
    }
  }
}