:root {
  --primary: rgba(255, 96, 96, 1);
  --secondary: #ffffff;
  --teriary: #FF6060;
  --bg-color-card: rgba(255, 96, 96, 1);
  --bg-color-footer: #000000;
  --bg-color-gallery: #f6f6f6;
  --bg-color-collapse: #f6f6f6;
  --font-family: "Montserrat", sans-serif;
}


// --gray-2: #efefef;
// --font-family: "Montserrat", sans-serif;
// --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
// --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
// --tex-color: #444;