.cards {
  background-color: var(--bg-color-gallery);
  min-height: 50vh;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  justify-content: space-between;
  margin: auto;
  width: 1240px;
  max-width: 100%;
}

@media screen and (width <=768px) {
  .cards {
    justify-content: center;
    background-color: white;
    padding: 0;
  }
}