@use "../../../styles/media" as *;

.host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: flex-end;

  .host_name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    font-size: 18px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


    @include xs {
      font-size: 12px;
      font-weight: 500;
      line-height: 17.11px;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

    }
  }

  .host_img img {
    width: 50px;
    max-width: 100%;
    border-radius: 50%;

    @include m {
      width: 40px;
      max-width: 100%;
    }

    @include xs {
      width: 30px;
      min-width: 30px;
    }
  }

}