.card {
  max-width: 100%;
  height: 340px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}

.image {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit;
  transition: transform 0.3s ease;
  // transform: scale(1);
  // transition: transform 300ms;
}

.card:hover .image {
  transform: scale(1.1); // Zoom léger sur l'image au survol
}

.title {
  position: absolute;
  top: 72%;
  bottom: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  margin: 20px;
  padding: 10px;
  box-sizing: inherit;
  color: var(--secondary);
}

.card_overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: var(--linear-card);
  opacity: 0.5;
  transition: opacity 0.3s ease;

}
.card:hover .card_overlay {
  opacity: 1;
}

