.collapse_container {
  display: flex;
  flex-direction: column;
  width: 1240px;
  max-width: 100%;
  overflow: hidden;

}

.collapse_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  color: white;
  padding: 0.2rem 1em;
  border-radius: 5PX;
  position: relative;

  i {
    font-size: 2rem;
    cursor: pointer;
  }
}

.collapse_title h2 {
  font-size: 1.2rem;
}

.collapse_content {
  position: relative;
  background-color: var(--bg-color-collapse);
  line-height: 30px;
  border-radius: 5PX;
  list-style-type: none;
  padding: 2px 15px;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  z-index: -1;
  animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translatey(-100%);
  }

  to {
    transform: translatey(0%);
  }
}