.header {
  margin: 20px auto;
  width: 1240px;
  max-width: 100%;
  padding: 20px;
}

.layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1240px;
  max-width: 100%;
  min-height: '300vh';
  margin: auto;
  padding: 20px;
}