header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
  width: 1240px;
  max-width: 100%;

  & img {
    min-width: 100px;
  }
}

@media screen and (width <=768px) {
  header {
    max-width: 85%;
  }
}