header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
  width: 90%;
}

header .logo {
  cursor: pointer;
}

@media screen and (width <=490px) {
  header img {
    width: 100%;
  }
}