@use "../../styles/media" as *;


.cards {
  background-color: var(--bg-color-gallery);
  margin: 35px auto;
  width: 1240px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 40px;
  row-gap: 40px;
  padding: 40px;
  border-radius: 25px;
  margin-bottom: 40px;


}

@media screen and (max-width:768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    // margin: 30px 0 -30px 0;
    padding: 20px;
  }
}

@media screen and (max-width:450px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--secondary);
    width: 335px;
    width: 100%;
    padding: 5px;
  }
}