@use "../../../styles/media" as *;

.nav {
  display: flex;
  width: 309px;
  max-width: 100%;
  height: 34px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  @include m {
    width: 209px;
    max-width: 100%;
    height: 17px;
    display: flex;
    justify-content: space-between;
  }

  @include xs {
    width: 155px;
    max-width: 100%;
    height: 17px;
    display: flex;
    justify-content: space-between;
  }
}

.accueil {
  width: 136px;
  height: 34px;
  font-family: Montserrat, sans-serif;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: right;
  text-decoration-line: underline;

  &.no-underline {
    text-decoration-line: none;
  }

  @include m {
    min-width: 59px;
    width: 100%;
    height: 17px;
    font-size: 14px;
    text-transform: uppercase;
  }

  @include xs {
    min-width: 49px;
    width: 100%;
    height: 17px;
    font-size: 10px;

    // text-decoration-line: underline;
    &.no-underline {
      text-decoration-line: underline;
    }

  }
}

.about {
  width: 116px;
  height: 34px;
  font-family: Montserrat, sans-serif;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  text-align: right;
  text-decoration-line: none;

  &.active {
    text-decoration-line: underline;
  }

  @include m {
    width: 71px;
    width: 100%;
    height: 17px;
    font-size: 14px;
    text-transform: uppercase;
  }

  @include xs {
    width: 61px;
    width: 100%;
    height: 17px;
    font-size: 10px;
  }
}