.nav {
  display: flex;

}

.NavLink_home {
  color: var(--primary);
  padding-left: 1rem;
  font-weight: 500;
  font-size: 34px;
  line-height: 34px;
  cursor: pointer;
}

.NavLink_about {
  color: var(--primary);
  text-decoration: none;
  padding-left: 1rem;
  font-weight: 500;
  font-size: 34px;
  line-height: 34px;
  cursor: pointer;
  text-wrap-mode: nowrap
}

.active {
  text-decoration-line: underline;
  background-color: gold;
}

.home:hover,
.about:hover {
  text-decoration-line: underline;
}


@media screen and (max-width:768px) {

  .NavLink_about,
  .NavLink_home {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

@media screen and (max-width:360px) {

  .NavLink_about,
  .NavLink_home {
    font-size: 12px;
    line-height: 17px;
  }

}