.home,
.about {
  padding-left: 1rem;
  color: var(--primary);
  text-decoration: none;
  list-style-type: none;
  padding-left: 1rem;
  font-size: 2rem;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

.home:hover,
.about:hover {
  text-decoration-line: underline;
}

.about {
  /* white-space: pre;
  white-space-collapse: preserve; */
  text-wrap-mode: nowrap
}

@media screen and (width <=768px) {

  .home,
  .about {
    font-size: 1rem;
    text-transform: uppercase;
  }

  header ul {
    width: 200px;
    width: 100%;
  }
}

@media screen and (width <=360px) {

  .home,
  .about {
    font-size: 0.7rem;
  }

}