.footer {


  text-align: center;
  // max-width: 1440px;
  width: 100%;
  margin: 40px auto 0 auto;
  background-color: var(--bg-color-footer);
  color: var(--secondary);
  padding: 20px;
  min-height: 200px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.footer_text {
    font-size: 2rem;
  }
}

@media screen and (max-width:768px) {
  .footer {
    margin-top: 25px;
    max-width: 100%;
  }

  .footer_text {
    font-size: .9rem;
    padding: 0;
  }
}