@use "../../../styles/media" as *;

.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    @include m {
      width: 30px;
    }

    @include xs {
      width: 20px;
    }
  }
}