.host {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
}

.hostname {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hostname h3 {
  padding: 15px;
}


.host img {
  width: 60px;
  max-width: 100%;


}

