.logement_tag p {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  width: 120px;
  text-align: center;
  font-weight: 400;
}
.tag {
z-index: 2;
}